* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ff9a4b;
  height: 50px;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.contents-box {
  width: 300px;
  padding: 10px;
  background-color: #eeeeee;
  position: relative;
}

.contents-icon {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: white;
}

.contents-box:nth-child(2) {
  margin-right: 30px;
  margin-left: 30px;
}

.contents-image1 {
  background-image: url(img/flow01.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.contents-image2 {
  background-image: url(img/flow02.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.contents-image3 {
  background-image: url(img/flow03.png);
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.title {
  margin: 15px 0 5px;
}

footer {
  background-color: #aaaaaa;
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }

  main {
    width: 100%;
    display: block;
    margin: 50px auto;
  }

  .contents-box {
    width: 90%;
    margin: 0 auto;
  }
  .contents-box:nth-child(2) {
    margin: 20px auto;
  }

  footer {
    width: 100%;
  }
}
